.headwel{
    font-weight: 400;
    margin: 40px 0 5px 0 ;

}
.spanheadwel{
    font-weight: 600;
    font-size: 3.2em;
    color: 	#4285F4;;
}
img{
    object-fit: cover;
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
}

.sections{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1px;
    height: 450px;
    z-index: 1;
    margin-top: 30px;
    
    
}


.left{

    display: flexbox;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 30px;
    border-radius: 20px;
    width: 600px;
}

.lefthead{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin: 20px 0 20px 0;
}
span,h1{
    background: none;
    padding-right: 10px;
}
h1{
    font-weight: 400;
    font-size: 1.2em;
}
span{
    font-weight: 600;
    color: rgb(42, 42, 42);
}

.right{
    display: flex;
    justify-content: center;
    margin: 30px;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background:none;
    
}

.list:hover{
   
    border-radius: 50px;
    font-weight: 700;
}

.leftname{
    margin-top: 40px;
    font-size: 1.2em;
    background:none;
}

p{
    background: none;
}

.totalexp{
    background-color: rgb(255, 255, 255);
    position: absolute;
    margin: 150px 0 0 0;
    border-radius: 10px;
    width: 200px;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.buttons{
    background: none;
    position: absolute;
    margin: 250px 0 0 0;
    border-radius: 10px;
    width: 200px;
    padding: 30px;
    
}

.btn1{
    padding: 15px;
    width: 120px;
    border: none;
    border-radius: 10px;
    border:2px solid #4285F4;
    font-size: 0.9em;
}

.btn1:hover{
    border:3px solid #4285F4;
}

.btn1:active{
    border: 3px solid rgb(56, 56, 56);    
}


.btn2:hover{
    background-color: tomato;    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.btn2:active{
    background-color: rgb(56, 56, 56);    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    font-size: 1.5em;
}

.btn2{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-left: 20px;
    background-color: #4285F4;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.3em;
}

.rightamt{
    margin-top: 40px;
    font-size: 1.2em;
    font-weight: 600;
    color: brown;
    background: none;

}

.rightname{
    background: none;
}

.rightcont{
    background: none;
    border-radius: 20px;
}





