@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins',sans-serif;
}

body{
 background-color: #323737;
  
}



/* .App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register{
  max-width: 978px;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

 .btn{
  background-color:#44b2a5;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;

}



.flex{
  display: flex;
  gap: 1em;
  flex-direction: column;
}


.register .col1{
  margin: auto;
  padding: 3em 0;
}

.register .col2 img{
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

.head{
  font-size: 2.3em;
  font-weight: 900;
  color: #323737;
  text-align: left;

}

@media screen and (min-width: 860px)  {
  .register .col2 img{
    display: initial;
  }
}
